@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root
{
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.1rem 1rem rgba(0,0,0.1);
    --border: 2rem solid rgb(0,0,0.1);
    --outline: 0.1rem solid rgb(0,0,0.1);
}

*
{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background: #eee;
}

section{
    padding: 5rem 5%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
/* heading section */
.heading span{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);

}
/* heading section */


/* review section */
.review .box-container{
    border: 0px solid;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: 0px solid red;
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.review .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
    transform: scale(1.2);
    z-index: 2;
}

.review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .box-container .box p{
    padding: 1rem 0;
    height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .box-container .box h3{
    padding: 0.5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .box-container .box .stars i{
    
    color: orange;
    font-size: 1.7rem;
}

/* review section */




.btn{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
}

.btn:hover{

    background: var(--green);
    color: #fff;
}



/* footer section */


.footer{
    background: #fff;
    margin: 2rem 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.footer .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--green);

}
.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: var(--green);
    padding-right: 0.5rem;

}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
    cursor: pointer;
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    border: 1px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: 0.2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--green);
    color: #fff;
}
.footer .box-container .box .email{

    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-methods a{
    border: 1px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-top: 1.6rem;
    margin-left: 0.2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .payment-methods a:hover{
    background: var(--green);
    color: #fff;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: 0.3rem solid var(--light-color);
    
}

.footer .credit span{
     
    color: var(--green);
}
/* footer section  */